h1 {
	text-align: center;
}

.button_container {
	margin: 0 auto;
	text-align: center;
}

.container {
	border: 1px solid black;
	width: 960px;
	margin: 20px auto;
}

.row {
	display: block;
	clear: both;
}

.square {
	display: inline-block;
	float: left;
}

.highlight {
	background-color: black;
}

.reset {
	background-color: white;
}